
.navbar {
  background-color: black;
  display: flex;
  align-items: center;
  padding: 10px;
}

.searchbar{
 
 position: relative;
 left: -40rem;
 width: 30rem;

   
}

#premiere:hover{

      color: black;


}

body{
 
  background-color: black;
  color: white;


}